.Palette {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.Palette-colors {
  height: 90%;
  overflow-x: hidden;
}
.Palette-footer {
  align-items: center;
  color: #323232;
  display: flex;
  font-weight: bold;
  height: 4vh;
  justify-content: flex-end;
}
.emoji {
  font-size: 1.5rem;
  margin: 0 1rem;
}
